<html>
    <head>
        <title>Emails Entered</title>
        <style>
            .flash_msg {
                background-color: green;
                padding: 10px;
                border: 1px solid black;
                width: 400px;
                text-align: center;
                margin-bottom: 10px;
            }

            table {
                margin-left: 40px;
                text-align: left;
            }
            td {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class="flash_msg">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Email Addresses Entered:</h1>
        <table>
            {% for email in emails %}
            <tr>
                <td>{{ email['email'] }}</td>
                <td>{{ email['created'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/">Back</a>
    </body>
</html>